.p1{
    margin-top:10%;
    text-align: center;
}
.block1{
    display: flex;
}
.btn2{
    background-color: #C29638;
    outline: none;
    border-radius: 0.3vw;
    margin-left:11.5vw;
    margin-top:4vh ;
    margin-bottom:2vh ;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.inscri{
    margin-top:5.8%;
    padding-top:8vh;
    height:80vh ;
    width: 100%;
    padding-left: 25vw;
    background:linear-gradient( to right, rgba(5, 4, 4, 0.911), rgb(255, 255, 255))
}
.img5{
    margin-left:2vw;
    margin-right:18vw;
    margin-top:30vh;
}
.inscri>input{
    outline: none;
    border:none;
    float: right;
    margin-right:9.3vw;
    border-radius: 0.5vh;
}
  .inscri>span{
      margin-left:7vw;
    
  }